@using Calendar.Helpers

@model Calendar.Models.Event

@inject Calendar.Models.Services.StaticListOfValuesService LOVs
@inject Calendar.Controllers.TeamsController Teams
@inject Calendar.Controllers.ProjectsController Projects
@inject Calendar.Controllers.AppSettingsController appsettings

@{
    ViewData["Title"] = ViewBag.title;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Subject" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_SUBJECT"></label>
            <div class="col-md-10">
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger" />
            </div>
        </div>
        <div class="form-group">                       
            <label asp-for="TaskDescription" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_SHORTDESC"></label>
            <div class="col-md-10">
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StartDateTime" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <div class='input-group date' id='dtpickerStart'>
                    @if (ViewData["Title"].ToString().Equals("Copy Event")) { 
                    <input asp-for="StartDateTime" class="form-control" value=""/>
                    }
                    else
                    {
                        <input asp-for="StartDateTime" class="form-control" />
                    }
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#dtpickerStart').datetimepicker({
                            format: 'lll',
                            sideBySide: true
                        });
                    });
                </script>
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <label asp-for="EndDateTime" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <div class='input-group date' id='dtpickerEnd'>
                    @if (ViewData["Title"].ToString().Equals("Copy Event"))
                    {
                        <input asp-for="EndDateTime" class="form-control" value="" />
                    }
                    else
                    {
                        <input asp-for="EndDateTime" class="form-control" />
                    }
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#dtpickerEnd').datetimepicker({
                            format: 'lll',
                            sideBySide: true
                        });
                    });
                </script>
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventStatus" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <select asp-for="EventStatus" class="form-control">
                    <option></option>
                    @foreach (var s in LOVs.ListEventStatus())
                    {
                        <option value=@s.Value>@s.Name</option>
                    }
                </select>
                <span asp-validation-for="EventStatus" class="text-danger" />
            </div>
            <label asp-for="Reference" class="col-md-2 control-label"  data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_REFERENCE"></label>
            <div class="col-md-4">
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AffectedHosts" class="col-md-2 control-label">
                Hosts<span role="button" class='glyphicon glyphicon-flash' style='color:red' title='Perform Impact Analysis' onclick="doIA('@appsettings.IA_Url', 'hosts')"></span>
            </label>
            <div class="col-md-10">
                <input asp-for="AffectedHosts" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="AffectedHosts" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AffectedProjects" class="col-md-2 control-label">
                Projects<span role="button" class='glyphicon glyphicon-flash' style='color:red' title='Perform Impact Analysis' onclick="doIA('@appsettings.IA_Url', 'projects')"></span>
            </label>
            <div class="col-md-10">
                <input asp-for="AffectedProjects" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="AffectedProjects" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AffectedTeams" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AffectedTeams" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="AffectedTeams" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Category" class="col-md-2 control-label"  data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_CATEGORY"></label>
            <div class="col-md-4">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger" />
            </div>
            <label asp-for="Environment" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <select asp-for="Environment" class="form-control">
                    <option></option>
                    @foreach (var s in LOVs.ListEnvironments())
                    {
                        <option value=@s.Value>@s.Name</option>
                    }
                </select>
                <span asp-validation-for="Environment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">            
            <label asp-for="ImpactAnalysis" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_IMPACTANALYSIS"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="ImpactAnalysis" class="form-control"></textarea>
                <span asp-validation-for="ImpactAnalysis" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaintProcedure" class="col-md-2 control-label"  data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_ACTIONPLAN"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="MaintProcedure" class="form-control"></textarea>
                <span asp-validation-for="MaintProcedure" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ActionBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActionBy" class="form-control" data-role="tagsinput"/>
                <span asp-validation-for="ActionBy" class="text-danger" />
            </div>
        </div>    

        <div class="form-group">
            <label asp-for="VerificationStep" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_VERIFICATIONSTEPS"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="VerificationStep" class="form-control"></textarea>
                <span asp-validation-for="VerificationStep" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="HealthCheckBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HealthCheckBy" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="HealthCheckBy" class="text-danger" />
            </div>
        </div>          

        <div class="form-group">
            <label asp-for="FallbackProcedure" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_FALLBACKPROC"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="FallbackProcedure" class="form-control"></textarea>
                <span asp-validation-for="FallbackProcedure" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Result" class="col-md-2 control-label"  data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_RESULTS"></label>
            <div class="col-md-10">
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Likelihood" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_LIKELIHOOD"></label>
            <div class="col-md-4">
                <select asp-for="Likelihood" class="form-control">
                    <option></option>
                    @foreach (var s in LOVs.ListLikelihoods())
                    {
                        <option value=@s.Value>@s.Name</option>
                    }
                </select>
                <span asp-validation-for="Likelihood" class="text-danger" />
            </div>
            <label asp-for="Impact" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_IMPACT"></label>
            <div class="col-md-4">
                <select asp-for="Impact" class="form-control">
                    <option></option>
                    @foreach (var s in LOVs.ListImpacts())
                    {
                        <option value=@s.Value>@s.Name</option>
                    }
                </select>
                <span asp-validation-for="Impact" class="text-danger" />
            </div>
        </div>

        <div class="form-group" hidden>
            <label asp-for="RiskLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RiskLevel" class="form-control chosen-disabled">
                    <option></option>
                    @foreach (var s in LOVs.ListRiskLevels())
                    {
                        <option value=@s.Value>@s.Name</option>
                    }
                </select>
                <span asp-validation-for="RiskLevel" class="text-danger" />
            </div>
        </div>

        @*This is a readonly makeup field. *@
        <div class="form-group">
            <label asp-for="RiskLevel" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_RISKLEVEL"></label>
            <div class="col-md-10">
                <span class="form-control" id="RiskLevelDisplay">
                </span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RiskAnalysis" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_RISKANALYSIS"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="RiskAnalysis" class="form-control"></textarea>
                <span asp-validation-for="RiskAnalysis" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="Redir" value="@ViewBag.Redir" />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    
    @if (@ViewBag.Redir != null)
    {
        <a href="@Uri.UnescapeDataString(ViewBag.Redir)">Back</a>
    }
    else
    {
        <a asp-action="Index">Back</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    /* prevent submit form by hitting Enter */
    $(document).ready(function() {
        $(window).keydown(function(event){            
            if(event.keyCode == 13 && event.target.type != "textarea") {
                event.preventDefault();
                return false;
            }
        });
        UpdateRiskLevelWrapper();
    });

    /* Please refer to event.js for the actual implementation. */
    var riskmatrix = @Html.Raw(Json.Serialize(LOVs.RiskLevelMatrix));
    
    /* We need to workout the RiskLevel When Likelihood or Impact chnages. */
    $('#Likelihood').on('change', UpdateRiskLevelWrapper);
    $('#Impact').on('change', UpdateRiskLevelWrapper);

    /* Initialize AffectedHosts */
    $('#AffectedHosts').tagsinput({
        tagClass: 'label label-default'
    });

    /* JSON.parse doesn't work. Just use the for loop instead. */
    var p = @Html.Raw(Json.Serialize(Projects.ListAll()));
    var projects = [];

    for (i = 0; i < p.length; i++) {
        projects[i] = p[i].name;
    }

    //alert(JSON.stringify(p));
    //alert(projects);

    var bobjProj = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // url points to a json file that contains an array of country names, see
        // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
        local: projects
    });
    bobjProj.initialize();

    $('#AffectedProjects').tagsinput({
        tagClass: 'label label-default',
        typeaheadjs: {
            source: bobjProj.ttAdapter(),
            limit: 10
        }
    });

    /* JSON.parse doesn't work. Just use the for loop instead. */
    var t = @Html.Raw(Json.Serialize(Teams.ListAll()));
    var teams = [];

    for (i = 0; i < t.length; i++) {
        teams[i] = t[i].name;
    }

    //alert(JSON.stringify(t));
    //alert(teams);
    var bloodHoundObj = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // url points to a json file that contains an array of country names, see
        // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
        local: teams
    });
    bloodHoundObj.initialize();

    $('#AffectedTeams').tagsinput({
        tagClass: 'label label-default',
        typeaheadjs: {
            source: bloodHoundObj.ttAdapter(),
            limit: 10
        }
    });

    $('#ActionBy').tagsinput({
        tagClass: 'label label-default',
    });

    $('#HealthCheckBy').tagsinput({
        tagClass: 'label label-default',
    });

</script>
