@model Calendar.Models.Event
@using Calendar.Models.Services
@inject StaticListOfValuesService LOVs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AffectedHosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AffectedHosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AffectedProjects)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AffectedProjects)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AffectedTeams)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AffectedTeams)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RiskLevel)
        </dt>
        <dd>
            @foreach (var s in LOVs.ListRiskLevels())
            {
                if (Model.RiskLevel == s.Value)
                {
                    <span class="cal-risklevel-@s.Value" stylex="font-size:14px">@s.Name</span>
                    break;
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
