@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@using Calendar.Helpers;

@*
    @model IEnumerable<Calendar.Models.Event>
    @model PaginatedList<Calendar.Models.Event>
    @model Calendar.Models.CalendarViewModels.EventIndexData
*@


@model PaginatedEventIndex

@inject Calendar.Models.Services.StaticListOfValuesService LOVs
@inject Calendar.Controllers.AppSettingsController appsettings

@{
    ViewData["Title"] = "Event List";

    var redir = Uri.UnescapeDataString(@Context.Request.PathBase + "/Events?sort=" + @ViewBag.SortParm + "&eventid=" + ViewBag.EventParm + "&subject=" + ViewBag.SubjectParm + "&host=" + ViewBag.HostParm + "&project=" + ViewBag.ProjParm + "&team=" + ViewBag.TeamParm + "&searchday=" + ViewBag.DayParm + "&searchrange=" + ViewBag.RangeParm + "&searchdatefrom=" + ViewBag.FromParm + "&searchdateto=" + ViewBag.ToParm + "&page=" + @Model.PageIndex + "&pgsize=" + @Model.PageSize);
}


@functions {

    Boolean IsTeamAcknowledged(IEnumerable<Acknowledgement> pAcks, string pTeam)
    {
        foreach (var item in pAcks)
        {
            if (item.Team == pTeam)
                return true;
        }
        return false;
    }

}

<h2>@ViewData["Title"]</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-left"><div class="row"><div class="col-md-offset-0 col-md-12">
    @if (@User.IsInRole("Admins"))
            {
        <p>
            @{
                <a asp-action="Create" asp-route-redir="@redir">Create New</a>
            }
        </p>
                }
</div>
</div>

        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2 text-right" style="padding-right:0">
            <a name="collapsesearch" id="collapsesearch" data-toggle="collapse" href="#collapseSearch" aria-expanded="false"><span id="searchicon" class="glyphicon glyphicon-search"></span><span id="search" class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
    </div>
</div>

<div class="panel panel-default collapse @ViewBag.SearchOn" id="collapseSearch">
    <div class="panel-body">
        <form asp-controller="Events" asp-action="Index" method="get">            
            <div class="container-fluid">
                <div class="row">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-3 control-label input-sm text-nowrap">  Event ID</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" id="fp-eventid" name="eventid" value="@ViewBag.EventParm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-3 control-label input-sm">Subject</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" id="fp-subject" name="subject" value="@ViewBag.SubjectParm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-3 control-label input-sm">Host</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" id="fp-host" name="host" value="@ViewBag.HostParm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-3 control-label input-sm">Project</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" id="fp-project" name="project" value="@ViewBag.ProjParm">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-3 control-label input-sm">Team</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control input-sm" id="fp-team" name="team" value="@ViewBag.TeamParm">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-4 control-label input-sm">Reference</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" id="fp-refid" name="refid" value="@ViewBag.RefParm">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="row">
                                <label class="col-md-3 control-label input-sm text-nowrap">By Date</label>
                                <div class="col-md-9">
                                    <select name="searchday" id="searchday" class="form-control input-sm">
                                        @foreach (var s in LOVs.ListSearchDate())
                                        {
                                            @if (ViewBag.DayParm == s.Value)
                                            {
                                                <option value=@s.Value selected>@s.Name</option>
                                            }
                                            else
                                            {
                                                <option value=@s.Value>@s.Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <select name="searchrange" id="searchrange" class="form-control input-sm">
                                        @foreach (var s in LOVs.ListSearchRange())
                                        {
                                            @if (ViewBag.RangeParm == s.Value)
                                            {
                                                <option value=@s.Value data-filter=@s.Filter selected>@s.Name</option>
                                            }
                                            else
                                            {
                                                <option value=@s.Value data-filter=@s.Filter>@s.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-2 control-label input-sm">From</label>
                                <div class="col-md-10">
                                    <div class='input-group date' id='dtpickerFrom'>
                                        <input type="text" class="form-control input-sm" id="searchdatefrom" name="searchdatefrom" value="@ViewBag.FromParm">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#dtpickerFrom').datetimepicker({
                                                format: 'lll',
                                                sideBySide: true
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-2 control-label input-sm">To</label>
                                <div class="col-md-10">
                                    <div class='input-group date' id='dtpickerTo'>
                                        <input type="text" class="form-control input-sm" id="searchdateto" name="searchdateto" value="@ViewBag.ToParm">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#dtpickerTo').datetimepicker({
                                                format: 'lll',
                                                sideBySide: true
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row text-right">
                                <div class="col-md-12">
                                    <input type="hidden" id="searchcollapse" name="searchcollapse" value="@ViewBag.SearchOn" />
                                    <input type="hidden" id="idsort" name="sort" value="@ViewBag.SortParm" />
                                    <input type="hidden" id="idpage" name="page" value="@Model.PageIndex" />
                                    <input type="hidden" id="idpgsize" name="pgsize" value="@Model.PageSize" />
                                    <input type="submit" value="Filter" class="btn btn-primary btn-sm" /> 
                                    <input type="button" onclick="ClearEventSearchForm()" id="clearbtn" value="Clear" class="btn btn-primary btn-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
                <nav aria-label="...">
                    <ul class="pagination pagination-sm"  style="margin:0">
                        <li class="page-item"><span>Page: @((Model.TotalCount == 0) ? "-" : Model.PageIndex.ToString() + "/" + Model.TotalPages.ToString())</span></li>
                        <li class="page-item @prevDisabled">
                            <a asp-action="Index" tabindex="-1"
                               asp-route-sort="@ViewBag.SortParm"
                               asp-route-subject="@ViewBag.SubjectParm"
                               asp-route-host="@ViewBag.HostParm"
                               asp-route-project="@ViewBag.ProjParm"
                               asp-route-team="@ViewBag.TeamParm"
                               asp-route-refid="@ViewBag.RefParm"
                               asp-route-eventid="@ViewBag.EventParm"
                               asp-route-searchrange="@ViewBag.RangeParm"
                               asp-route-searchday="@ViewBag.DayParm"
                               asp-route-searchdatefrom="@ViewBag.FromParm"
                               asp-route-searchdateto="@ViewBag.ToParm"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-pgsize="@Model.PageSize">                               
                                <span class="@prevDisabled glyphicon glyphicon-chevron-left" title="Previous Page"></span>
                            </a>
                        </li>
                        <li class="page-item @nextDisabled">
                            <a asp-action="Index" tabindex="-1"
                               asp-route-sort="@ViewBag.SortParm"
                               asp-route-subject="@ViewBag.SubjectParm"
                               asp-route-host="@ViewBag.HostParm"
                               asp-route-project="@ViewBag.ProjParm"
                               asp-route-team="@ViewBag.TeamParm"
                               asp-route-refid="@ViewBag.RefParm"
                               asp-route-eventid="@ViewBag.EventParm"
                               asp-route-searchrange="@ViewBag.RangeParm"
                               asp-route-searchday="@ViewBag.DayParm"
                               asp-route-searchdatefrom="@ViewBag.FromParm"
                               asp-route-searchdateto="@ViewBag.ToParm"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-pgsize="@Model.PageSize">                               
                                <span class="@nextDisabled glyphicon glyphicon-chevron-right" title="Next Page"></span>
                            </a>
                        </li>                        
                    </ul>
                </nav>
            </div>
</div>

<!--<table class="table" style="table-layout:fixed">-->
<table class="table table-striped table-bordered table-hover">

    <thead class="thead-inverse" style="color:#eceeef;background-color:#373a3c">
        <tr>
            <th></th>
            <th>
                ID
            </th>
            <th width="12%">
                Start Time
                <span class="text-nowrap">
                    <a asp-action="Index" asp-route-sort="sd_a" asp-route-eventid="@ViewBag.EventParm" asp-route-subject="@ViewBag.SubjectParm" asp-route-host="@ViewBag.HostParm" asp-route-project="@ViewBag.ProjParm" asp-route-team="@ViewBag.TeamParm" asp-route-refid="@ViewBag.RefParm" asp-route-searchrange="@ViewBag.RangeParm" asp-route-searchday="@ViewBag.DayParm" asp-route-searchdatefrom="@ViewBag.FromParm" asp-route-searchdateto="@ViewBag.ToParm" title="Ascending Order"><span class='glyphicon glyphicon-chevron-up' style='color:@((ViewBag.SortParm=="sd_a")?"red": "white")'></span></a>
                    <a asp-action="Index" asp-route-sort="sd_d" asp-route-eventid="@ViewBag.EventParm" asp-route-subject="@ViewBag.SubjectParm" asp-route-host="@ViewBag.HostParm" asp-route-project="@ViewBag.ProjParm" asp-route-team="@ViewBag.TeamParm" asp-route-refid="@ViewBag.RefParm" asp-route-searchrange="@ViewBag.RangeParm" asp-route-searchday="@ViewBag.DayParm" asp-route-searchdatefrom="@ViewBag.FromParm" asp-route-searchdateto="@ViewBag.ToParm" title="Descending Order"><span class='glyphicon glyphicon-chevron-down' style='color:@((ViewBag.SortParm=="sd_d") ?"red": "white")'></span></a>
                </span>
            </th>
            <th>
                Category
            </th>
            <th width="25%">
                Subject
            </th>
            <th>
                Hosts
            </th>
            <th width="10%">
                Porjects
            </th>
            <th>
                Teams
            </th>
            <th>
                Status
            </th>
            <th>
                Reference
            </th>
            <th width="10%">
                Creation Date
                <span class="text-nowrap">
                    <a asp-action="Index" asp-route-sort="cd_a" asp-route-eventid="@ViewBag.EventParm" asp-route-subject="@ViewBag.SubjectParm" asp-route-host="@ViewBag.HostParm" asp-route-project="@ViewBag.ProjParm" asp-route-team="@ViewBag.TeamParm" asp-route-refid="@ViewBag.RefParm" asp-route-searchrange="@ViewBag.RangeParm" asp-route-searchday="@ViewBag.DayParm" asp-route-searchdatefrom="@ViewBag.FromParm" asp-route-searchdateto="@ViewBag.ToParm" title="Ascending Order"><span class='glyphicon glyphicon-chevron-up' style='color:@((ViewBag.SortParm=="cd_a")?"red":"white")'></span></a>
                    <a asp-action="Index" asp-route-sort="cd_d"  asp-route-eventid="@ViewBag.EventParm" asp-route-subject="@ViewBag.SubjectParm" asp-route-host="@ViewBag.HostParm" asp-route-project="@ViewBag.ProjParm" asp-route-team="@ViewBag.TeamParm" asp-route-refid="@ViewBag.RefParm" asp-route-searchrange="@ViewBag.RangeParm" asp-route-searchday="@ViewBag.DayParm" asp-route-searchdatefrom="@ViewBag.FromParm" asp-route-searchdateto="@ViewBag.ToParm" title="Descending Order"><span class='glyphicon glyphicon-chevron-down' style='color:@((ViewBag.SortParm=="cd_d")?"red": "white")'></span></a>
                </span>
            </th>
            <th width="10%">
                Last Updated
                <span class="text-nowrap">
                    <a asp-action="Index" asp-route-sort="ud_a" asp-route-eventid="@ViewBag.EventParm" asp-route-subject="@ViewBag.SubjectParm" asp-route-host="@ViewBag.HostParm" asp-route-project="@ViewBag.ProjParm" asp-route-team="@ViewBag.TeamParm" asp-route-refid="@ViewBag.RefParm" asp-route-searchrange="@ViewBag.RangeParm" asp-route-searchday="@ViewBag.DayParm" asp-route-searchdatefrom="@ViewBag.FromParm" asp-route-searchdateto="@ViewBag.ToParm" title="Ascending Order"><span class='glyphicon glyphicon-chevron-up' style='color:@((ViewBag.SortParm=="ud_a")?"red":"white")'></span></a>
                    <a asp-action="Index" asp-route-sort="ud_d"  asp-route-eventid="@ViewBag.EventParm" asp-route-subject="@ViewBag.SubjectParm" asp-route-host="@ViewBag.HostParm" asp-route-project="@ViewBag.ProjParm" asp-route-team="@ViewBag.TeamParm" asp-route-refid="@ViewBag.RefParm" asp-route-searchrange="@ViewBag.RangeParm" asp-route-searchday="@ViewBag.DayParm" asp-route-searchdatefrom="@ViewBag.FromParm" asp-route-searchdateto="@ViewBag.ToParm" title="Descending Order"><span class='glyphicon glyphicon-chevron-down' style='color:@((ViewBag.SortParm=="ud_d")?"red": "white")'></span></a>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events)
    {
        <tr>            
            <td>
                @if (User.IsInRole("Admins"))
                {
                    <span class="text-nowrap">
                        <a class="btn btn-default btn-xs glyphicon glyphicon-trash" role="button" asp-action="Delete" asp-route-id="@item.ID" asp-route-redir="@redir" title="Delete the event"></a>
                        <a class="btn btn-default btn-xs glyphicon glyphicon-duplicate" role="button" asp-action="Copy" asp-route-id="@item.ID" asp-route-redir="@redir" title="Make a copy of the event"></a>
                    </span>
                }
            </td>
            <td>                
                <a role="button" style="text-decoration:none;" asp-action="Details" asp-route-id="@item.ID" asp-route-redir="@redir" title="View Details">@item.ID</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @{                  
                    var action = (User.IsInRole("Admins") ? "Edit" : "Details");
                    var stitle = (action == "Details" ? "View Details" : "Edit Details");
                    <a role="button" style="text-decoration:none;" asp-action="@action" asp-route-id="@item.ID" asp-route-redir="@redir" title="@stitle">@item.Subject</a>
                }                
            </td>
            <td>
                @{
                    String affectedhosts = item.AffectedHosts.Replace(",", ", ");
                    @affectedhosts
                    <a target=_blank href="@appsettings.IA_Url?broken=true&server=@item.AffectedHosts"><span class='glyphicon glyphicon-flash' style='color:red' title='Perform Impact Analysis'></span></a>
                }
            </td>
            <td>
                @{
                    String affectedprojects = item.AffectedProjects.Replace(",", ", ");
                    @affectedprojects
                    <a target=_blank href="@appsettings.IA_Url?system=@item.AffectedProjects"><span class='glyphicon glyphicon-flash' style='color:red' title='Perform Impact Analysis'></span></a>
                }
            </td>
            <td>
                @*
                    String affectedteams = item.AffectedTeams.Replace(",", ", ");
                    @affectedteams
                *@

                @{ 
                    var Teams = item.AffectedTeams.Split(',').ToList();
                
                    foreach (var team in Teams)
                    {

                        var c = (Teams.IndexOf(team) < Teams.Count() - 1) ? "," : "";

                        if (IsTeamAcknowledged(item.Acknowledgements, team))
                        {
                            <span id="idAffectedTeam-@team" class="acknowledged" title="@team acknowledged the Event">@team@c</span>
                        }
                        else
                        {
                            <span id="idAffectedTeam-@team" class="not-acknowledged" title="Waiting for @team's acknowledgement">@team@c</span>
                        }
                    }
                }
            </td>
            <td>
                @{
                    // It wounld be better to do it using CalendarEventViewModel
                    var s = LOVs.ListEventStatus().Where(m => m.Value == item.EventStatus);                    
                    @if (s.Count() == 1)
                    {
                        @Html.DisplayFor(modelItem => s.First().Name);
                    }
                    else { 
                        @Html.DisplayFor(modelItem => item.EventStatus);
                    }
                }
            </td>
            <td>
                @if (!String.IsNullOrEmpty(item.Reference))
                {
                    <a href="@appsettings.CM_Url?i_CRN=@item.Reference">@item.Reference</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>

@*
            <td>
                <ul>
                    <li @(User.IsInRole("Admins")? "" : "hidden")><a asp-action="Delete" asp-route-id="@item.ID">Delete</a></li>
                    <li @(User.IsInRole("Admins")? "" : "hidden")><a asp-action="Edit" asp-route-id="@item.ID">Edit</a></li>
                    <li><a asp-action="Details" asp-route-id="@item.ID">Details</a></li>                    
                </ul>
            </td>
*@
        </tr>
}
    </tbody>
</table>

<div class="col-md-12 text-center">Total @(Model.TotalCount) record(s) found</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#searchday').trigger('change');
        UpdateSearchDateFilter();

        if ("@ViewBag.SearchOn" == "in")
        {
            $('#collapseSearch').removeClass("panel panel-default collapse");
            $('#collapseSearch').addClass("panel panel-default collapse in");        
        } else
        {
            $('#collapseSearch').removeClass("panel panel-default collapse in");
            $('#collapseSearch').addClass("panel panel-default collapse");                    
        }

    });

    $("#fp-eventid").ForceNumericOnly();

    $('#searchday').change(function () {
        $("#searchrange").val("");
        if ($(this).data('options') == undefined) {
            $(this).data('options', $('#searchrange option').clone());
        }
        var id = $(this).val();
        var options = $(this).data('options').filter('[data-filter=' + id + ']');
        $('#searchrange').html(options);
    });

    $('#searchdatefrom').blur(function () {
        UpdateSearchDateFilter();
    });

    $('#searchdateto').blur(function () {
        UpdateSearchDateFilter();
    });

    $('#collapsesearch').click(function () {
        if ($('#search').attr('class') == "glyphicon glyphicon-chevron-down")
        {
            $('#search').removeClass("glyphicon glyphicon-chevron-down");
            $('#search').addClass("glyphicon glyphicon-chevron-up");
            $('#searchcollapse').val('in');
        } else {
            $('#search').removeClass("glyphicon glyphicon-chevron-up");
            $('#search').addClass("glyphicon glyphicon-chevron-down");
            $('#searchcollapse').val('');
        }
    });

</script>